---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=charity
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8a-l0CqRoswPEwMCZKlnC02wXNXO0U"
    body:
      encoding: UTF-8
      string: '{"activity":"Find a charity and donate to it","type":"charity","participants":1,"price":0.4,"link":"","key":"1488053","accessibility":0.1}'
  recorded_at: Wed, 12 Apr 2023 16:45:56 GMT
[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=charity
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"92-8m1ulk7OTM97s77jzf9f0REtEAA"
    body:
      encoding: UTF-8
      string: '{"activity":"Pick up litter around your favorite park","type":"charity","participants":1,"price":0,"link":"","key":"4894697","accessibility":0.05}'
  recorded_at: Wed, 12 Apr 2023 16:45:58 GMT
recorded_with: VCR 6.1.0
