---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=charity
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"92-FxTFycwQ3xiSi7e2BqiW8vFPPW8"
    body:
      encoding: UTF-8
      string: '{"activity":"Volunteer and help out at a senior center","type":"charity","participants":1,"price":0,"link":"","key":"3920096","accessibility":0.1}'
  recorded_at: Wed, 12 Apr 2023 15:09:22 GMT
[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=charity
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a5-w+ZgqMtvGXM2Wy9Wi//Vt41eb+g"
    body:
      encoding: UTF-8
      string: '{"activity":"Clean out your closet and donate the clothes you''ve outgrown","type":"charity","participants":1,"price":0,"link":"","key":"9026787","accessibility":0.1}'
  recorded_at: Wed, 12 Apr 2023 15:09:24 GMT
recorded_with: VCR 6.1.0
