
---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=charity
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b1-O9K7qx8mdT1VgEB/YYujJQmjNJM"
    body:
      encoding: UTF-8
      string: '{"activity":"Donate blood at a local blood center","type":"charity","participants":1,"price":0,"link":"https://www.redcross.org/give-blood","key":"6509779","accessibility":0.35}'
  recorded_at: Wed, 12 Apr 2023 15:09:24 GMT
recorded_with: VCR 6.1.0
