<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <style>
      body {
          font-family: 'Inter', 'Arial';
          }
    </style>  
  </head>

  <body style="background-color:#FF857F">
    <table align="center" border="0" cellpadding="0" cellspacing="0"
      width="550" bgcolor="white" style="border:2px solid black">
      <tbody>
        <tr>
          <td align="center">
            <table align="center" border="0" cellpadding="0"
              cellspacing="0" class="col-550" width="550">
              <tbody>
                <tr>
                  <td align="center" style="background-color: #6366F1;
                      height: 30px;">

                    <a href="#" style="text-decoration: none;">
                      <p style="color:white;
                          font-weight:bold;">
                        Do Good
                      </p>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr style="height: 50px;">
          <td align="center" style="border: none;
              border-bottom: 2px solid #6366F1;
              padding-right: 20px;padding-left:20px">

            <p style="font-weight: bolder;font-size: 42px;
                letter-spacing: 0.025em;
                color:black;">
              You're an Official Do Gooder!
            </p>
          </td>
        </tr>

        <tr style="display: inline-block;">
          <td style="height: 100px;
              padding: 20px;
              border-bottom: 2px solid ##6366F1;
              background-color: white;
              align: center;">

              <img src="https://user-images.githubusercontent.com/114951691/233454278-18f091ab-518a-4026-9337-0bd95ce892e2.png" alt="do gooder badge">
          </td>
        </tr>

        <tr>
          <td>
            <p style="text-decoration: none;
                color:black;
                padding: 10px 30px;
                font-weight: bold;
                font-size: 22px;
                text-align: center">
              Thanks for doing some good, <%= @user.name %>!
            </p>
          </td>
        </tr>

        <tr style="border: none;
              background-color: #6366F1;
              height: 60px;
              color:white;
              padding-bottom: 20px;
              padding-top: 20px;
              text-align: center;">
          
          <td height="60px" align="center">
            <p style="text-decoration: none;
                color:white;
                font-weight: bold;
                font-size: 16px;
                text-align: center">
              With Love,
              <br>
              The Do Good Team
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>