<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <style>
      body {
          font-family: 'Inter', 'Arial';
          }
</style>
  </head>
  <body>
    <h1>You're an official Do Gooder!</h1>
    <img src="./mailers/badge.png" alt="do gooder badge", height="100">
    <h3>Thanks for doing some good, <%= @user.name %>!</h3>
  </body>
</html>