<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You're an official Do Gooder!</h1>
    <p>Thanks for doing some good, <%= @user.name %>!</p>
  </body>
</html>